on: push
name: Main workflow
jobs:
  black:
    name: black
    runs-on: ubuntu-latest
    container: python:3.8

    steps:
      - uses: actions/checkout@master
      - name: Check Python version
        run: |
          python -V
      - run: pip install poetry
      - run: poetry install
      - run: poetry run black --check .
  pytest:
    name: Test on ${{ matrix.container }}
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        container:
          - python:3.8
          - python:3.7
          - python:3.6
    steps:
      - uses: actions/checkout@master
      - name: Check Python version
        run: |
          python -V
      - run: pip install poetry
      - run: poetry install
      - run: poetry run pytest --cov=resubname --cov-report xml --cov-report term-missing
      - uses: codecov/codecov-action@v2.0.3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
